* {
    box-sizing: border-box;
}

.wrap {
    max-width: 450px;
    background: #fff;
    padding: 10px;
    margin: 70px auto;
    border: 1px solid #333;
}

label, input, button {
    display: block;
    margin-top: 10px;
}

input {
    padding: 8px 12px;
    width: 100%;
}

button {
    width: 100%;
    padding: 8px;
    cursor: pointer;
    background: #333;
    color: #fff;
}

button:hover {
    background: #555;
}